.Form-Container {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.Form-Container div {
  margin: 0;
  padding: 0;
}

.Form-Container Button {
  margin-left: 10px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.column {
  display: flex;
  flex-direction: column;
}
